:root {
  --fekete: #111111;
  --sotetszurke: #1a1a1a;
  --szurke: #333333;
  --alap: snow;
}

/*Alap*/
body {
  text-align: justify;
  font-size: 18px;
  background-color: var(--szurke);
  color: var(--alap);
  text-align: justify;
}

p {
  font-size: 18px;
}

h1 {
  text-align: center;
}
/*Menü*/
nav {
  border: 1px solid green;
  /*width: 1500px;
  float: center;
  margin: 0 auto;*/
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--fekete);
}

ul#menu > li {
  float: left;
  width: 140px;
}
  
ul#menu > li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  min-width: 100px;
}

ul#menu > li a:hover {
  background-color: var(--szurke);
  font-weight: bold;
}

ul#menu > li#name {
  float: right;
  padding: 16px;
  text-align: right;
}

/*Tartalom*/
div#tartalom {
  margin: 10px auto;
  border: 1px solid rgb(249, 0, 170);
  background-color: var(--fekete);
  min-height: 800px;
}

/* Posztok */
div.posztok {
  border: 2px solid green;
  margin: 30px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px #888888;
}
div.posztok>h2, div.posztok>p {
  padding: 0 30px;
}

/* Projektek fül */
table#t_projects { 
  border-collapse: separate;
  border-spacing: 30px 0px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  /*margin-bottom: 3.34em;*/ /*3.34em v 72.24px*/
}

.p_head, .p_body, .p_foot {
  background-color: var(--szurke);
  text-align: center;
  width: 320px;
}

.p_head {
  border-radius: 20px 20px 0px 0px;
}
/*p_body {
  
}*/

.p_foot {
  border-radius: 0px 0px 20px 20px;
  border-spacing: 0px 0px 0px 4000px;
}
/* */
.kiskep {
  width: 300px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Videólejátszó fül */
table#videos { 
  border-collapse: collapse;
  /*border-spacing: 30px 0px;*/
  margin-left: auto;
  margin-right: auto;
  /*margin-bottom: 3.34em;*/ /*3.34em v 72.24px*/
}

/* Videó fül */
table#videos {
  text-align: center;
  width: 660px;
}
td#video {
  height: 415px;
}

/* videó kis előnézes képe infókkal height: 400px; */
.kiskep2 {
  height: 250px;
  display: block;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}
#soriinfo {
  text-align: justify;
  padding: 10px;
  height: 418px;
  margin: 0px;
}

ul#episodes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

ul#episodes > li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  min-width: 100px;
  background-color: var(--sotetszurke);
  margin: 5px 10px;
}
td#video {
  height: 438px;
  margin: 0px;
}

/*
:target {
  color: red;
}
*/

/* Ezzel csak ellenőrzök */
table, tr, td, th {
  border: 1px solid blue;
}

/*
h2 {
  margin: 5px 0px 10px 0px;
}

div.projects {
  border: 1px solid red;
  padding: 10px;
  margin: 10px auto;
  width: 450px;
  height: 200px;
  float: left;
}
*/
/* Majd kelleni fog
div.pontok {
  border: 1px solid red;
  padding: 10px;
  margin: 10px auto;
  width: 1000px;
  height: 200px;
}
*/


