:root { /*https://blog.hubspot.com/website/web-safe-html-css-fonts*/
  --fekete: #111111;
  --sotetszurke: #1a1a1a;
  --szurke: #333333;
  --alap: #fff;
  --zold: #00D900;
  --pink2: #B4007B;
  --fekete2: #0D0E0E;
  --sotetszurke2: #181A1B;
  --szurke2: #262A2B;
  --szurke3: #2C2F31;
  --vilszurke: #888888;
  --kek: rgb(78, 190, 227);
  --kek2:rgb(22, 71, 187);
 /*Nem használt színek*/
  --zold2: green;
  --pink: #f900aa;
  --kek3: rgb(19, 0, 90);
  --kek4: rgb(0, 0, 92);
  /**/
  --feketeat: rgba(17,17,17,0.6);
  /*Sushi-s*/
  --zoldkekk3: #071e1e;
  --zoldkekk2: #0e2828;
  --zoldkekk: #003C3C;
  --vilkekk: #25b7fa;
  --feheress: #acacac;
  --szurkee: #2B2A33;
  --atlatszofeherr: #ffffff66;


}
/*Font: https://fonts.google.com/specimen/Yatra+One?preview.text=SkelyXD%20Subs&preview.text_type=custom&category=Display,Handwriting*/
/* Alap */
/*
* {
  box-sizing: border-box;
}
*/
body {
  text-align: justify;
  background-image: url(images/background.jpg);
  color: var(--alap);
  border: 1px solid var(--vilszurke);
  border-radius: 25px;
  font-size: 18px;
  margin: 1px auto;
  width: 80%;
  max-width: 1500px;
  min-width: 720px;
  box-shadow: 1px 1px 50px var(--vilkekk);
  /*font-family: 'Noto Sans', sans-serif;*/
  /*font-family: 'Kaushan Script', cursive;*/
  /*font-family: 'Alkatra', cursive;*/
  /*font-family: 'Kanit', sans-serif;*/
  font-family: 'Rajdhani', sans-serif;
  /*font-family: 'Space Mono', monospace;*/
}
/* Font csere a hosszú szövegeknél */
div.posztok p, div.posztok ul, #soriinfo, td#leiras {
  font-family: 'Kanit', sans-serif;
}
h1 {
  text-align: center;
  color: var(--vilkekk);
  margin: 0;
  padding: 24.12px 0px 0px 0px;
}

/*Menü*/
.container {
  position: relative;
  text-align: center;
  background-color: rgba(0, 60, 60, 0.3);
  max-height: 300px;
}
#fokep {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
  max-height: 300px;
}
.kepcim {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--vilszurke);
  background-color: rgb(0, 60, 60, 0.7);
  border-radius: 30px;
  
}
.kepcim h1#name {
  font-size: 40px;
  color: white;
  text-shadow: rgb(255, 250, 250, 0.3);
  padding: 0px 30px;
}
nav {
  background-color: var(--zoldkekk2);
}
ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul#menu > li {
  float: left;
  width: 140px;
}
ul#menu > li a {
  display: block;
  color: var(--alap);
  text-align: center;
  padding: 16px;
  text-decoration: none;
  min-width: 100px;
}
ul#menu > li a:hover {
  transition: 0.25s ease;
  background-color: var(--vilkekk);
  color: var(--zoldkekk2);
  font-weight: bold;
}
#neo_kep {
  width: 300px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  background-position:center bottom;
}

/*Tartalom*/
.kiskep3 { /*Poszter képek*/
  height: 250px;
  width: 160px;
  display: inline-block;
  border: 2px solid white;
  margin: 0px;
}
.cc {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  margin: 15px;
}
._kiskep4 {
  border: 2px solid white;
  display: inline-block;
  width: 350px;
  height: 200px;

  vertical-align: bottom;
}
span._idezet, span._kepala {
  color: var(--feheress);
  text-align: center;
}
span._idezet, span._idezo, span._kiscim, span._kepala {
  display: table;
  margin: 0 auto;
}
span._kiscim {
  font-size: 18px;
  color: var(--vilkekk);
}
span._idezet {
  padding-top: 10px;
}
span._idezo {
  padding-bottom: 10px;
  font-style: italic;
}
.ccc2 {
  padding-left: 15px;
  text-align: center;
  margin: 0 auto;
}
.ccc {
  padding-left: 15px;
}
div#tartalom {
  min-height: 100vh;
  padding: 0px 30px;
  background-color: rgba(0, 60, 60, 0.3);
}
div#versions {
  color: var(--alap);
  background-color: var(--zoldkekk2);
  margin: auto;
  text-align: center;
  padding: 5px;
  height: 52.8px;
  border-radius: 0px 0px 25px 25px;
}

/* Posztok */
div.posztok {
  border: 2px solid var(--vilszurke);
  margin: 30px auto;
  border-radius: 10px;
  box-shadow: 2px 2px 5px -1px var(--vilkekk);
  max-width: 1000px;
  background-color: var(--zoldkekk2);
}
div.posztok>h2, div.posztok>p {
  padding: 0px 15px;
}
div.posztok>h2 {
  color: var(--vilkekk);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--vilszurke);
  margin-top: 10px;
  text-align: center;
}
div.posztok p, div.posztok ul {
  font-size: 16px;
}
div.posztok p.datum {
  font-size: 80%;
  text-align: right;
  color: var(--vilszurke);
}
a {
  color: goldenrod;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/* Tagok fül */
div.tagok {
  color: var(--alap);
  text-align: center;
  width: 250px;
  border: 2px solid var(--vilszurke);
  border-radius: 20px;
  box-shadow: 2px 2px 5px -1px var(--vilkekk);
  margin: 10px;
  display: inline-block;
  background-color: var(--zoldkekk2);
}
div.tagok>h2 {
  text-align: center;
}
div.tagok hr {
  border: 1px solid var(--vilszurke);
}
div.tagok img {
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  border-radius: 10px;
}
div.tagok p, div.tagok h2 {
  margin: 15px 0px;
}

/* Projektek fül */
#big_div {
  text-align: center;
}
div.p_all {
  color: var(--alap);
  text-align: center;
  width: 250px;
  border: 2px solid var(--vilszurke);
  border-radius: 20px;
  margin: 10px;
  display: inline-block;
  background-color: var(--zoldkekk2);
  box-shadow: 2px 2px 5px -1px var(--vilkekk);
}
div.p_center {
  overflow: hidden;
  margin: auto;
}
div.p_center > a > img:hover {
  opacity: 0.5;
  transition: .5s ease;
}
/* 'Nagyít'-ja a képet */
div.p_center > a > .kiskep:hover {
  transform: scale(1.1);
}

.kiskep {
  width: 225px;
  height: 318px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: .5s ease;
  border-radius: 10px;
  /*transition: 0.5s all ease-in-out;*/
}
p.p_up {
  font-weight: bold;
  height: 20px;
  text-align: center;
  padding: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
p.p_down {
  margin: 5px auto;
  font-size: 16px;
  height: 60px;
}

/* Infók fül */
button.ISeeYouButton {
  text-align: center;
  padding: 5px 10px;
  color: var(--alap);
  background-color: var(--zoldkekk3);
  margin: 5px;
  border: 1px groove var(--vilszurke);
  border-radius: 5px;
  cursor: pointer;
}
button.ISeeYouButton:hover {
  transition: 0.5s ease;
  box-shadow: 0px 0px 2px 1px rgba(255, 250, 250, 0.5);
  color: black;
  background-color: var(--vilkekk);
}
p.kerdes {
  color: var(--kek);
  font-weight: bold;
  text-decoration: underline;
}
p.valasz {
  color: var(--alap);
  margin-left: 20px;
  line-height: 1.3;
}
span#elerhetoseg {
  color: var(--vilszurke);
  font-style: italic;
}
span.semmi {
  font-weight: bold;
  text-decoration: underline;
}
li button.showshide {
  text-align: center;
  margin: 3px 5px;
  padding: 5px 10px;
  color: var(--alap);
  background-color: var(--sotetszurke);
  border: 1px groove var(--szurke2);
  border-radius: 5px;
}
li button.showshide:hover {
  transition: 0.5s ease;
  /*box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);*/
  box-shadow: 0px 0px 2px 1px rgba(255, 250, 250, 0.5);
}
div.whatisthis {
  display: none;
}

/* Videólejátszó fül */
table#videos {
  text-align: center;
  width: 660px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
img#sad {
  display: block;
  width: 660px;
  height: 380px;
  margin: 0 auto;
}
ul#episodes {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}
ul#episodes li.target {
  display: inline-block;
  color: var(--alap);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  min-width: 100px;
  background-color: var(--zoldkekk3);
  margin: 5px 10px;
  border: 1px groove var(--vilszurke);
  border-radius: 5px;
  cursor: pointer;
}
ul#episodes li.target:hover {
  color: black;
  background-color: var(--vilkekk);
  font-weight: bold;
}

td#video {
  height: 420px;
  margin: 0px;
}
td#leiras {
  text-align: justify;
  font-size: 16px;
  background-color: var(--zoldkekk2);
}
td#leiras>p#lone {
  text-align: center;
  margin: 0px;
  text-decoration: underline;
  border: 1px solid var(--alap);
  border-bottom: none;
}
td#leiras>p#ltwo {
  text-align: justify;
  margin: 0px;
  padding: 10px;
  border: 1px solid var(--alap);
  border-top: none;
}
td#leiras a {
  color: goldenrod;
  text-decoration: none;
}
td#leiras a:hover {
  text-decoration: underline;
}
span.meaning {
  color: var(--feheress);
  cursor: pointer;
}
span.meaning:hover {
  text-decoration: underline;
}

/* videó kis előnézes képe infókkal */
.kiskep2 {
  height: 250px;
  width: 180px;
  display: block;
  border: 2px solid white;
  margin: 5px auto;
}
#soriinfo {
  text-align: justify;
  padding: 10px;
  margin: 0px;
  border: 1px solid var(--vilszurke);
  background-color: var(--zoldkekk2);
  border-radius: 10px;
  min-height: 150px;
  font-size: 16px;
}

/* Trailer gomb */
#bttn1 {
  text-align: center;
  padding: 10px;
  color: var(--alap);
  background-color: var(--zoldkekk3);
  margin: 5px 10px;
  border: 1px groove var(--vilszurke);
  border-radius: 5px;
  cursor: pointer;
}
#bttn1:hover {
  transition: 0.5s ease;
  box-shadow: 0px 0px 2px 1px rgba(255, 250, 250, 0.5);
  color: black;
  background-color: var(--vilkekk);
  font-weight: bold;
}

/* Igazítás */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 0px;/*10px*/
}
/*
@media screen and (max-width: 800px){
  ul#menu > li {
    display: block;
    width: 100%;
  }
}
*/
.hianyos {
  color: crimson;
  font-family: Tahoma;
  font-size: 14px;
  font-weight: bold;
}

/*
span - középre:
  display: table;
  margin: 0 auto;
*/
div.ures {
  display: inline;/*inline - none*/
}
